/*
  font-family: 'Open Sans',
  sans-serif;
  font-family: 'Lato',
  sans-serif;
  font-family: 'Roboto',
  sans-serif;
*/

html{
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  line-height: 24px;
  color: #4a6385;
  font-size: 14px;
}
a {
  color: #000000;
  text-decoration: none;
  display: inline-block;
}
.header {
  border-top: 1px solid #2c7deb;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 87px;
}
.menu__list {
  display: flex;
}
.menu__list li {
  margin-left: 38px;
}
.menu__list a{
  font-size: 14px;
  color: #2f3f54;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}
.top {
  background-color: #2c7deb;
  padding-top: 150px;
  padding-bottom: 180px;
}
.top__inner {
  display: flex;
}
.top-info {
  max-width: 555px;
  margin-right: 35px;
  color: #fff;
}

.top-info__title {
  font-weight: 900;
  line-height: 52px;
  font-size: 48px;
  font-family: 'Roboto',sans-serif;
  text-transform: uppercase;
}

.top-info__descr {
  font-size: 19px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 35px;
}
.top-info__descr span{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  display: block;
}

.top-info__list {
  list-style: none;
  margin-bottom: 50px;
}
.top-info__list li {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 3px;
  position: relative;
  padding-left: 24px;
}
.top-info__list li::before {
  content: "";
  background: url(../images/check-boxpng.png);
  background-size: cover;
  width: 13px;
  height: 13px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(50%);
}

.top-info__btn {
  color: #fff;
  text-transform: uppercase;
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 13px 44px;
  margin-bottom: 15px;
}

.top-images {}

.top-images__box {
  position: relative;
}

.top-images__circle {
  width: 230px;
  height: 230px;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  columns: #212121;
  position: absolute;
  top: -65px;
  right: -60px;
  
}

.top-images__title {
  margin-bottom: 15px;
  text-align: left;
  width: 135px;
}

.top-images__price {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 10px;
}

.top-images__date {
  text-align: right;
  width: 135px;
}
.price {
  padding: 150px 0 180px;
}
.title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #2f3f54;
}

.title span {
  color: #2c7deb;
}

.price__descr {
  max-width: 610px;
  margin: 35px auto 125px;
  text-align: center;
  line-height: 24px;
}

.price__items {
  display: flex;
}

.price__item {
  max-width: 360px;
  box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
  padding: 0 50px;
  position: relative;
  overflow: hidden;
}

.price__item__number {
  width: 265px;
  height: 465px;
  border-radius: 136px;
  color: #fff;
  background-color: #2c7de8;
  position: absolute;
  top: -370px;
  font-family: 'Roboto',sans-serif;
  font-size: 33px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.price__item__number span {
  font-size: ;
}
.price__item__images {}

.price__item__title {}

.price__item__text {}

.price__item__list {}

.price__item__btn {}